.page {
  font-family: "Roboto", "sans-serif";
  color: #757575;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-logo-first-color: #2196f3;
  --color-logo-second-color: #000;
}
.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.page-header__logo {
  margin-right: 93px;
}

.logo__link {
  text-decoration: none;
}
.logo--first-color {
  color: var(--color-logo-first-color);
}
.logo--second-color {
  color: var(--color-logo-second-color);
}

nav {
  display: flex;
  list-style: none;
}
.nav__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  color: #212121;
}
.nav__link {
  color: #000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item--right {
  margin-right: 46px;
}
.nav__link--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid var(--color-variable);
  border-radius: 2px;
  top: 30px;
}
.nav__link:hover,
.nav__livk:focus {
  color: var(--color-variable);
}
.contact-list {
  list-style: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  align-items: center;
  color: #757575;
}
.contact-list__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.contact-list__link {
  color: #757575;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, color;
}
.contact-list__icon {
  fill: currentColor;
}
.contact-list__icon--envelope {
  margin-right: 7px;
  margin-bottom: -1px;
}
.contact-list__link--right {
  margin-right: 30px;
}
.contact-list__icon--smartphone {
  margin-right: 7px;
  margin-bottom: -3px;
}
.contact-list__link:hover {
  fill: currentColor;
  color: #2196f3;
}

.offer {
  padding-top: 0;
}
.offer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-title);
  padding-bottom: 50px;
}
.priority {
  display: flex;
  justify-content: center;
}
.priority__item {
  width: 370px;
  height: 294px;
  margin-left: 15px;
  margin-right: 15px;
  list-style: none;
  position: relative;
}
.team__section {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
}

.team {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  height: 428px;
  text-align: center;
  background-color: var(--color-slogan);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  padding-top: 30px;
  padding-bottom: 10px;
}

.social__team {
  list-style: none;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.social__team-item {
  fill: var(--color-fill-social-link);
  background-color: #fff;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__team-item:hover {
  background-color: #2196f3;
  fill: var(--color-slogan);
}
.team__social--link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--color-fill-social-link);
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social--link:hover,
.team__social--link:active {
  background-color: #2196f3;
  fill: var(--color-slogan);
}

.footer-page {
  height: 252px;
  background: var(--color-background);
  padding: 60px 0;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo--another-color {
  color: #fff;
}

.join {
  display: block;
  margin-left: 70px;
  margin-top: -14px;
}
.join__title {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #ffffff;
}
.join-social {
  text-align: left;
  width: 206px;
  height: 80px;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}
.join-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-slogan);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-social__link:hover,
.join-social__link:active {
  background-color: var(--color-variable);
}

.join-social__icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}
.newsletter {
  text-align: left;
  margin-left: auto;
  width: 570px;
}
.newsletter-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-slogan);
  text-align: left;
  margin-top: -45px;
}
.newsletter-box {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
.newsletter-box__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-background);

  padding-left: 16px;
  color: #fff;
  outline: none;
  margin-top: 20px;
}

.button {
  width: 200px;
  height: 50px;

  background: var(--color-variable);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 0;
  margin-left: 8px;
  color: #fff;
  cursor: pointer;
}
.newsletter__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 24px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.portfolio__item {
  position: relative;
  width: 370px;
  height: 404px;
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  z-index: 1001;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link {
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  padding: 49px 45px 49px 24px;
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .overlay {
  opacity: 0.9;
  transform: translateY(0);
}
.portfolio__description {
  display: block;
  position: relative;
  z-index: 1002;
  background-color: #fff;
  margin-top: 4px;
}
.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  text-align: start;
  padding-left: 24px;
  margin: 0;
  padding: 20px 24px 4px 24px;
  margin-top: -9px;
}
.portfolio__type {
  line-height: 1.875em;
  letter-spacing: 0.06em;
  padding: 0px 24px 20px 24px;
  text-align: start;
  color: var(--color-text);
  margin: 0;
}
