.page {
  font-family: "Roboto", "sans-serif";
  color: #757575;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-logo-first-color: #2196f3;
  --color-logo-second-color: #000;
}
.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.footer-page {
  height: 252px;
  background: var(--color-background);
  padding: 60px 0;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}
