.page {
  font-family: "Roboto", "sans-serif";
  color: #757575;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:root {
  --color-variable: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --color-background: #2f303a;
  --color-slogan: #fff;
  --color-adress: #fff;
  --color-footer-contact: rgba(255, 255, 255, 0.6);
  --color-background-button: #f5f4fa;
  --color-fill-social-link: #afb1b8;
  --color-logo-first-color: #2196f3;
  --color-logo-second-color: #000;
}
.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.team__section {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
}

.team {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  height: 428px;
  text-align: center;
  background-color: var(--color-slogan);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  padding-top: 30px;
  padding-bottom: 10px;
}

.social__team {
  list-style: none;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.social__team-item {
  fill: var(--color-fill-social-link);
  background-color: #fff;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__team-item:hover {
  background-color: #2196f3;
  fill: var(--color-slogan);
}
.team__social--link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--color-fill-social-link);
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social--link:hover,
.team__social--link:active {
  background-color: #2196f3;
  fill: var(--color-slogan);
}

.footer-page {
  height: 252px;
  background: var(--color-background);
  padding: 60px 0;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}
