.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__link {
    text-decoration: none;
  }
  &--first-color {
    color: var(--color-logo-first-color);
  }
  &--second-color {
    color: var(--color-logo-second-color);
  }
  &--another-color {
    color: #fff;
  }
}
